/*
        PALLETE OF COLORS
        Sunrise =   #F26241
        Day =       #6394BF
        Sunset =    #61788C
        Night =     #0D0B40
        */

        .center {
            text-align: center;
            margin: auto;
        }

        body {
            background-color: white;
        }

        h1 {
            color: white;
            text-align: center;
        }

        section {
            background-color: aliceblue;
            width: 500px;
            padding: 10px;
            border: 0px solid blue;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.226);
            border-radius: 10px;
        }

        div#time- {
            padding-top: 15px;
            font-weight: bold;
        }

        img {
            padding-top: 15px;
        }

        footer > p {
            color: white;
            font-size: small;
            font-style: italic;
            text-align: center;
            padding-top: 5px;
        }
        
        footer > p > a {
            color: white;
            font-weight: 800;
            text-decoration: none;
        }