@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 2px;
}

body {
    background-color: #1A535C;
    color: white;
    margin: 15px;
}

header {
    font-size: x-large;
    text-align: center;
}

#main {
    background-color: #F7FFF7;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    padding: 17px 7px 17px 7px;
    margin: 15px auto;
    width: 300px;
}
 
#txtnum {
    width: 50px;
    text-align: center;
}

#btn-add {
    background-color: #FFE66D;
    font-weight: 500;
}

#btn-add:hover {
    background-color: #f1da67;
}

#btn-add:active {
    background-color: #d4c05c;
}

select {
    width: 150px;
    display: block;
    margin: 15px auto;
    padding: 3px;
}

#btn-con {
    background-color: #FF6B6B;
    font-size: medium;
    color: white;
    padding: 3px;
    display: block;
    margin: auto;
}

#btn-con:hover {
    background-color: #d45a5a;
}

#btn-con:active {
    background-color: #a74747;
}

div#res {
    padding: 15px 15px 0px;
}

footer {
    font-size: small;
    text-align: center;
}